@import url('https://fonts.googleapis.com/css2?family=Candal&family=Raleway:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  overflow-x: hidden;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}