$black: #242424;
$white: #ffffff;
$purple: #4b1d3f;
$soft-grey: #8d90a0;



@mixin displayFlex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
    flex-wrap: wrap;
}